@model EpinelPS.Database.User

@{
    ViewData["Title"] = "Change user password";
}

<h1 data-i18n="users.password.title">修改密码</h1>

<h4 data-i18n="users.table.username">用户</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Password" class="control-label" data-i18n="auth.password">密码</label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="修改密码" class="btn btn-danger" data-i18n="users.password.changeButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" data-i18n="users.password.backToList">返回列表</a>
</div>