@{
    ViewData["Title"] = "Database configuration";
}

<div class="text-center">
    <h1 class="display-4">Database configuration</h1>
    <button id="reloadDB" type="button" class="btn btn-danger" title="Loads changes from db.json into memory. Discards unsaved changes." onclick="runSimpleCmd('reloadDb')">Reload database</button>
</div>
