@{
    ViewData["Title"] = "Event configuration";
}

<div class="text-center">
    <h1 class="display-4" data-i18n="events.config.title">活动配置</h1>
    <p data-i18n="events.config.comingSoon">即将上线！</p>
</div>