@ -0,0 +1,23 @@ ﻿html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('/admin/assets/login.jpg') no-repeat center center fixed;
    background-size: cover;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginBox {
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}
